#mc_embed_signup{
	text-align:center;
	font:18px Helvetica,Arial,sans-serif;
	display:block;
	float:center;
}

#mce-EMAIL{	
	margin-left:10px !important;
	width: 383px !important;
	margin-bottom:30px !important;
	font-size:24px;
	border-radius:5px;
}
#mc-embedded-subscribe{
	margin-left:120px !important;
}
