#layout{
	display:block;
	min-width:800px;
	margin-left:auto;
	margin-right:auto;
}
#homelinkbkg{
	opacity:.6;
	background-color:#975e0c;
}
#homelink{
	top:5px;
	height:100px;
	width:180px;
	display:block;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	opacity:.8;
	padding-bottom:50px;
	padding-top:20px;
}
#homelink:hover{
	opacity:1;
}
#contentbkg{
	background-color:#975e0c;
	opacity:.8;
	width:100%;
	padding:0px;
	padding-bottom:100px;
	padding-top:100px;
}

#content{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	opacity:.9;
	padding-top:50px;
	border-radius:15px;
	padding:20px;
}
#content h1{
	color:black;
	display:inline;
	text-decoration:none;
	font-size:14px;
}
#content h1 a{
	color:black;
	display:inline;
	text-decoration:none;
	font-size:14px;
}
#content h1 a:hover{
	display:inline;
	text-decoration:underline;
	font-size:14px;
}
#content h2{
	color:black;
	display:inline;
}
#content h3{
	color:black;
	text-align:left;
	padding:10px;
	font-size:14px;
}
#content h4{
	color:white;
	line-height:12px;
	font-weight:200;
	margin-top:36px;
}
#footer2{
	background-color:white;
	padding: 20px 100px 20px 100px;
}
#footer2 #image{
	width:200px;
	margin-right:auto;
	margin-left:auto;
	text-align:left;
}
#footer2 p{
	text-align:center;
	font-size:12px;
	color:black;
	width:100%;
}
#footer2 p a{
	font-size:12px;
	color:#a8a8a8;
	text-align:center;
}
#footer2 p a:hover{
	color:#464545;
}
#footer2_image{
	display:inline;
	position:absolute;
	top:100px;
	right:10%
}
#footer2 ul{
	list-style:none;
}
#footer2 ul li{
	display:inline;
	list-style:none;
}

#error_page{
	background-image:url('!.png');
	width:100%;
}
#votesimg{
	position:absolute;
	top:3px;
	left:282px;
}
#clock{
	display:inline;
	position:absolute;
	top:30px;
	left:1060px;		
}
.forms{
	border-radius:30px;
		text-align:center;
	padding:0 !important;
}
#formlist h3 a{
	color:blue;
	font-size:30px;
	line-height:36px;
	text-decoration:none;
}
#formlist h3 a:hover{
	color:black;
}
#layoutdonate{
	width:100%;
	min-width:1220px;
}
#contentbkgdonate{
	background-color:#975e0c;
	opacity:.8;
	width:100%;
	padding:0px;
	padding-bottom:100px;
	padding-top:150px;
}
#donatebkg{
	background-color:#975e0c;
	opacity:1;
	width:100%;
	min-width:1000px;
	padding:0px;
	margin:0px;
}
#pickcut{
	position:absolute;
	top:-70px;
	left:20px;
	width:200px;
}
#pickcut h2{
	font-size:24px;
}
.donatenav ul li a{
	text-decoration:none;
}
#homelinkbkgdonate{
	background-color:white;
	height:190px;
	position:absolute;
	z-index:30;
	width:100%;
	min-width:1220px;
}
.donatenav{
	padding-left:10px;
	position:absolute;
	width:150px;
}
.donatenav ul li{
	margin:2px 0px 4px 10px;
	background-color:#975e0c;
	height:30px;
	padding-top:1px;
}
.donatenav ul li h1{
	line-height:10px;
	color:black;	
	text-align:center;
}
.donatenav ul li:hover{
	margin:2px 0px 4px 10px;
	background-color:white;
	height:30px;
	padding-top:1px;
	border-radius:5px;
}

#donateimages{
	position:relative;
	display:block;
	width:500px;
	opacity:.9;
	padding-top:50px;
	border-radius:15px;
	padding:30px;
	margin-left:200px;
}
#donateimages h2{
	color:black;
	line-height:0px;
	padding-top:0px;
	margin-top:0px;	
	text-align:center;
	width:80px;
	font-weight:500;
	font-size:36px;
}
#donateimages h3{
	color:black;
	line-height:0px;
	padding-top:0px;
	margin-top:0px;
	width:80px;	
	text-align:center;
}
.haircutimagedonate{
	position:absolute;
	top:0px;
	left:150px;

}
#amountraised{
	position:relative;
	margin: 10px 0px 0px 5px;
	width:50px;
	text-align:center;
	float:left;
	display:block;
}
#donateamount{
	position:relative;
	margin: 9px 0px 0px 0px;
	text-align:center;
	float:right;
	display:block;
}
#first{
	position:absolute;
	z-index:33;
	top:-85px;
	left:120px;
}
#homelinkdonate{
	top:5px;
	height:100px;
	width:180px;
	display:block;
	position:relative;
	margin-left:20px;
	opacity:.8;
	padding-bottom:50px;
	padding-top:20px;
}
.level_desc_donate{
	height:200px;
	width:800px;
	margin-left:250px;
	margin-top:-150px;
	position:absolute;
}
.level_desc_donate ul{
	
}
.level_desc_donate ul li{
	display:inline-block;
	position:relative;
}
.level_desc_donate ul li ul{
	display:inline-block;
	height:130px;
	overflow:hidden;
}
.level_desc_donate ul li ul li{
	position:relative;
}
.level_desc_donate ul li ul:hover{
	overflow:visible;
}

#pickamount{
	position:relative;
	left:20px;
	top:40px;
}
#pickamount h3{
	font-weight:100;
	font-size:14px;
}
#amount{
	width:630px;
	margin-top:80px;
	margin-left:25px;	
		text-align:center;
}
#amount ul{
}
#amount ul li{
	display:inline;
	width:100px;
	background-color:white;
	margin:0px 20px 20px 0px;
	border-radius:10px;
	vertical-align:center;
	box-shadow: 5px 5px 5px #000;
	padding: 30px 10px 20px 10px;
}
#amount ul li:hover{
	box-shadow:none;
}

#amount ul li h2{
	font-size:24px;
	line-height:80px;
	text-decoration:none;
	display:inline;
	color:black;
	font-weight:600;
	vertical-align:center;
}

.donateframe{
	position:relative;
	width:750px;
	opacity:1;
}
#venmo{
	position:absolute;
	display:inline;
	top:320px;
	left:800px;
	width:400px;
	padding:10px;
	background-color:white;
}
#venmoimg{
	padding-top:30px;
	
}
#venmovideo{
	width:200px;
	margin-left:auto;
	margin-right:auto;
}
#venmo h4{
	color:black;
	font-size:20px;
	line-height:20px;
	font-weight:100 !important;
	text-decoration:none;
	text-align:center;
	margin:0px;
}
#venmocontent{

}
#venmothanks h2{
	color:black;
	margin-top:0px;
}
#totalraised{
	position:absolute;
	color:white;
	top:130px;
	left:17px;
	background-color:red;
	border-radius:10px;
	padding:5px 10px 5px 10px;
	vertical-align:center;
	width:165px;
	text-align:center;
}
#totalraised ul{
	vertical-align:center;
}
#totalraised ul li{
	display:inline-block;
	text-align:center;
}
#totalraised h2{
	color:white;
	font-size:34px;
	display:inline;
}
.nav_image_doante{
	opacity:1;
}
#stats{
	position:absolute;
	font-size:24px;
	margin-left:245px;
	z-index:31;
	text-align:center;
	top:20px;
	min-width:750px;
	width:780px;
	font-weight:800;
}
#stats ul li{
	display:inline-block;
	padding:32px;
	width:85px;
	color:green;
	opacity:.5;
}
#stats ul li:hover{
	display:inline-block;
	padding:32px;
	width:85px;
	height:70px;
	opacity:.6;
	background-color:white;
}
