/* Title: JulianGetsAHaircut Style
   Author: Julian Bongiorno
*****************************************************************/


table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	color:#4d6470;
	font-size:16px;
	line-height:20px;
}
h1 a{
	color:#d19223;
	font-size:30px;
	line-height:30px;
}

h2{
	color:#fff;
	font-size:24px;
	line-height:30px;
	font-family:helvetica;
	font-weight:100;
	}
	
h2 a{
	color:#fff;
	font-size:24px;
	line-height:30px;
	text-decoration:none;
	font-family:helvetica;
} 
	
h3 {
	color:#fff;
	font-size:12px;
	line-height:20px;
	font-weight:100;

}
h3 a{
	color:#ffffff;
	font-size:12px;
	line-height:20px;
	font-weight:100;
}
	
h4 {
	color:#4d6470;
	font-size:12px;
	line-height:10px;
	text-decoration:none;
}
/*a, h4 {
	color:#000;
	font-size:8px;
	line-height:10px;
	text-decoration:underline;
}
*/
ul {
/*background-color: #F0F0F0;*/
/*border-bottom: 2px solid #999999 ;*/
list-style-type: none ;
margin: 0px 0px 0px 0px ;
padding: 0px 0px 0px 0px ;

}

ul li {
padding: 0px 0px 0px 0px ;
}

 
/********************************************************/
body {
	background-color:#f9dcb2;
	background-image:url('scissors.png');
	background-repeat:repeat;	
	padding:0px;
	margin:0px;
	height:100%;
	width:100%;	
	overflow-x: hidden;
	font-family: Arial,sans-serif;
	z-index:0;
}

/********************************************************/   



#update_bar{
    height: 40px;
    width:100%;
    background-color:#d19223;
    z-index:20;
    position:fixed;
    padding-top:0px;
    top:0px;
    opacity:.9;
   	min-width:900px;

}
#update_bar ul{
	display:inline;
	width:100%;
}
#update_bar li{
	display:inline;
}
#update_bar #center{
	text-align:center;
}
#share{
	opacity:1 !important;
	text-align:left;
	padding-left:2%;
	position:absolute;
	display:inline-block;
	z-index:22;
	width:150px;
}
#share ul{
	display:block;
	width:100%;
}
#share ul li{
	display:inline;
	width:100px;
}
#socialf{
	display:inline-block;
	margin-left:5px;
	opacity:.8;
}
#socialf:hover{
	opacity:1;
}
#socialt{
	display:inline-block;
	opacity:.8;
}
#socialt:hover{
	opacity:1;
}
#socialemail{
	display:inline-block;
	margin-left:9px;
	opacity:.8;
	width:20px;
	margin-right:10px;
}
#socialemail:hover{
	opacity:1;
}
.fixedlogo{
	position:relative;
	z-index:22;
	left:10%;
	opacity:.6;
	top:-27px;
	margin-right:10px;
}
.fixedlogo:hover{
	opacity:1;
	top:30;
	position:relative;
}
#topnav{
	text-align:center;
	position:fixed;
	width:100%;
	z-index:21;
	vertical-align:center;
	height:40px;
	margin-top:5px;
	float:left;
	width:100%;
}
#topnav ul{
	display:inline;
	width:100%;
	vertical-align: center;
	height:100px;
}
#topnav li{
	display:inline;
	vertical-align:center;
	height:100px;
}
.topnav_desc{
	position:fixed;
	top:15px;
	width:100px;
	height:20px;
	border:1px;
	border-radius:2px;
	display:block;
	margin-left:290px;
	z-index:-25 !important;
	background-color:white;
	font-family:helvetica;
	float:left;
	top:15px;
	z-index:10;
	opacity:.8;
	padding-top:80px;
}
.nav-2rows{
	list-style:none;
	margin:5px;
	height:50px;
}
.topnav_image{
	display:inline;
	margin-left:30px;
	margin-right:30px;
	vertical-align: center;
}
.wrapper {
	width:100%;
	position: relative;
	min-width:1000px;
	opacity:.9;
}
#0info{
	position:absolute;
}
#helpme{
	left:5%;
	top:60px;
	position:absolute;
}
#thecuts{
	right:10%;
	top:530px;
	text-align:right;
	position:absolute;
}
#navigation{
	top:60px;
	left:60%;
	text-align:right;
	position:absolute;
}
#scroll{
	top:500px;
	left:2%;
	text-align:left;
	position:absolute;
}
#checkmeout{
	top:60px;
	left:85%;
	text-align:left;
	position:absolute;
}
#vote{
	top:350px;
	right:20px;
	text-align:right;
	position:absolute;
}
.donate_now{
	position:fixed;
	right:20px;
	bottom:10px;
	opacity:.7;
	z-index:99;
}
.donate_now:hover{
	opacity:.9;
}
.donation_total{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}
.donation_total ul li{
	display:inline-block;
	z-index:99;
	width:100px;
	position:relative;
	background-color:white;
	border-radius:5px;
	/*box-shadow: inner:*/
	text-align:center;
	margin-right:26px;
	margin-left:26px;
}
.donation_total h2{
	color:#975e0c;
	line-height:10px;
}
.level_desc{
	height:200px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}
.level_desc ul{
	
}
.level_desc ul li{
	display:inline-block;
	z-index:99;
	position:relative;
}
.level_desc ul li ul{
	display:inline-block;
	height:130px;
	overflow:hidden;
}
.level_desc ul li ul li{
	position:relative;
}
.level_desc ul li ul:hover{
	overflow:visible;
}
.overlay{
	float:left;
	position:absolute;
	top:0px;
	left:-130px;
	vertical-align:center;
	text-align:center;
	font-family:Helvetica;	
	font-size:16px;
	color:#975e0c;
	padding: 5px 2px 5px 2px;
	width:90px;
	background-color:white;
	border-radius:5px;
}
.nav_image{
	opacity:.6;
}
.nav_image:hover{
	opacity:1;
}

.fixedlogo{
	
}
#headerimage{
	z-index:100;
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
}
#image_nav{
	width:520px;
	margin-left:auto;
	margin-right:auto;
}
nav {
	width:850px;
	position:fixed;
	display:block;
	z-index:22;
	float:left;
	left:8%;
}
nav ul {
	text-align:center;
	position:relative;
}
nav ul li {
	float:left;
	display:inline-block;
}
nav ul li:hover {			/* background of the image*/
	opacity:.9;
}
nav ul li a {
	display:block;
	padding:3px 35px;
	color:#000;
}
nav ul li ul {
	position:absolute;
	width:105;
	background:#d19223;
}
nav ul li ul li {
	width:105px;
}
nav ul li ul li a {
	display:block;
	padding:15px 10px;
	color:#fff;
	font-family:helvetica;
	font-weight:300;
	text-decoration:none;
	font-size:14px;
}
nav ul li ul li:hover a {
	background:#d19223;
}
nav ul li ul.fallback {
	display:none;
}
nav ul li:hover ul.fallback {
	display:block;
}

#current_pics ul{
	position:fixed;
	display:inline;
	top:2px;
	height:40px;
	overflow-x:hidden;
	width:70px;
	padding-left:30px;
	margin-left:20px;
}
#current_pics ul:hover{
	overflow:visible;
	opacity:1;
}
#current_pics ul li:hover{
	display:block;
	opacity:1;
}

#save_date{
	position:relative;
	display:block;
	float:right;
	top:30px;
}
#level_0{
	height:850px;
	position:relative;
}
.main{
	z-index:1;
	width:100%;
	text-align:center;
	display:inline;
	margin-top:100px;
	padding-top:100px;
}
#header_desc {
	width:650px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#header_desc h2{
	color:#975e0c;
	font-weight:500;
	padding-bottom:40px;
}
.intro{
	text-align:center;
	padding-top:80px;
	height:120px;
	position:relative;
	background-image:url('intro_bkg.png');
	z-index:55;
	background-repeat:no-repeat;
}
.intro h1{
	text-align:center;
	color:#595756;
	font-size:30px;
	color:white;
}
.intro h2{
	text-align:center;
	font-size:24px;
}
#bkg_1{
	margin-right:auto;
	margin-left:auto;
	opacity:.95;
	background-color:#000;
}

#level_1{
	width:900px;
	position:relative;
	height:880px;
	opacity:1;
	display:block;
	margin-right:auto;
	margin-left:auto;
}
#content_1{
	width:52%;
	float:right;
	display:inline-block;
	padding-top:30px;
	margin-left:10px;
}
#content_1 h1 {
	font-size:16px;
}
#content_1 h1 a{
	font-size:16px;
	text-decoration:none;
	line-height:12px;	
}
#content_1 h1 a:hover{
	text-decoration:underline;
	line-height:12px;
}
#content_1 h1 a {
	color:#edb564;
}
#content_1 h2 a {
	color:#edb564;
	font-weight:500;
}
#content_1 h2 a:hover{
	text-decoration:underline;
	}

#content_1 h3{
	color:#4d6470;
}
#content_1 h3 a{
	color:#77b3e1;
	text-decoration: none;
}
#content_1 h3 a:hover{
		text-decoration: underline;

	
}
#content_1 h3{
	font-weight:200 !important;
	font-size:13px;
	font-family:helvetica;
}
#content_1 h2{
	line-height:10px;
}
#image1{
	position:relative;
	text-align:center;
	padding-top:10px;
	margin-right:2%;
	float:left;
	opacity:.5;
	z-index:10;
}
#image1:hover{
	opacity:1;
}

#bkg_2{
	margin-right:auto;
	margin-left:auto;
	opacity:.9;
	background-color:#edb564;
}
#level_2{
	position:relative;
	height:900px;
	width:980px;
	opacity:1;
	display:block;
	text-align:left;
	margin-right:auto;
	margin-left:auto;
	opacity:1;
}
#content_2{
	width:55%;
	float:left;
	display:inline;
	padding-top:30px;
	display:inline;
}
#content_2 p{
	color:black;
	text-align:center;
}
#image2{
	position:relative;
	text-align:center;
	padding-top:10px;
	float:right;
	opacity:.5;
	z-index:10;
}
#image2:hover{
	opacity:1;
}
#image2 p{
	position:relative;
	color:black;
	top:-20px;
}
.charity{
	margin-top:10px;
	width:90%;
	float:left;
	display:block;
	height:400px;
}
#MSK{
	width:100%;
	margin:10px;
	border-radius:5px;
	background-color:white;
	padding:0px 10px 10px 10px;
	box-shadow:3px 3px 10px #000;
}
#PBL{
	width:100%;
	margin:10px;
	border-radius:5px;
	background-color:white;
	padding:10px;
	box-shadow:3px 3px 10px #000;
}
#PBL #image {
	display:inline;
	float:left;
}
#PBL #description{
	display:inline;
	margin:2px;
	padding:10px;
}

#bkg_3{
	margin-right:auto;
	margin-left:auto;
	opacity:.9;
	background-color:#975e0c;
}
#level_3{
	width:900px;
	position:relative;
	height:890px;
	opacity:1;
	display:block;
	margin-right:auto;
	margin-left:auto;
}
#content_3{
	width:50%;
	float:right;
	display:block;
	padding-top:90px;
	margin-left:20px;
	text-align:center;
	line-height:20px;
}
#content_3 h2{
	color:black;
}
#content_3 h3{
	color:black;
	font-weight:400;
	font-size:16px;	
}
#image3{
	position:relative;
	text-align:center;
	padding-top:10px;
	margin-right:2%;
	float:left;
	opacity:.5;
	z-index:10;
	display:block;
}
#image3:hover{
	opacity:1;
}
#email_form{
	position:relative;
	border-radius:20px;
	height:150px;
	margin-top:50px;
	padding-top:10px;
	margin-right:20px;
	background-color:white;
	box-shadow: 50px;
	vertical-align:center;
	box-shadow:3px 3px 10px #000;
	vertical-align:center;
	opacity:1 !important;
}
#thanks{
	width:100%;
	text-align:center;
	margin-top:40px;
}
#thanks p{
	color:black;
	font-size:10px;
}
#social_email{
	display:block;
	vertical-align:center;
	height:80px;
}
#social_email a :hover{
	opacity:.7;
}
#social_email p{
	left:-10px;
	width:93%;
}
#social_email h2{
	padding-top:-30px;
	margin-top:0px;
	line-height:10px;
	font-weight:400;
}

#bkg_4{
	margin-right:auto;
	margin-left:auto;
	opacity:.9;
	background-color:#fff;
}
#intro{
	text-align:center;
	padding-top:80px;
	height:120px;
	position:relative;
	background-image:url('intro_bkg.png');
	z-index:55;
	background-repeat:no-repeat;
}
#intro h1{
	text-align:center;
	color:#595756;
	font-size:30px;
	color:black;
}
#intro h2{
	text-align:center;
	font-size:24px;
	color:black;
}
#level_4{
	position:relative;
	height:880px;
	width:900px;
	opacity:1;
	display:block;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	opacity:1;
	overflow:hidden;
}
#content_4{
	width:50%;
	float:left;
	display:inline;
	padding-top:30px;
	margin-left:20px;
	height:100%;
	background-repeat:no-repeat;
}
#content_4 h1{
	font-size:12px;
	color:black;
	text-align:left;
	padding-right:50px;
	line-height:5px;
}
#content_4 h2{
	color:black;
	text-align:left;
}
#content_4 h3{
	color:black;
	font-size:14px;
	text-align:left;
	line-height:20px;
}
#content_4 h3 a{
	color:#445a88;
	font-size:14px;
	text-align:left;
	text-decoration:none;
	font-weight:600;
	text-transform:uppercase;

}
#content_4 h3 a:hover{
	color:#edb564;
	text-decoration:underline;
	text-transform:uppercase;
}
#image4{
	position:relative;
	text-align:center;
	padding-top:10px;
	margin-right:2%;
	float:right;
	opacity:.5;
	z-index:10;
}
#image4:hover{
	opacity:1;
}
#arnold{
	position:absolute;
	top:3250px;
	left:0px;
	z-index:30 !important;
}

#bkg_5{
	margin-right:auto;
	margin-left:auto;
	opacity:.9;
	background-color:#edb564;
}
#level_5{
	margin-right:auto;
	margin-left:auto;
	opacity:1;
	position:relative;
	background-color:#edb564;
	width:920px;
	opacity:1;
	display:block;
	text-align:center;
	height:860px;
}
#content_5{
	width:53%;
	float:right;
	display:inline-block;
	margin-top:25px;
	margin-left:1%;
	background-image:url('biobkg.png');
	background-size:630px;
	background-repeat:no-repeat;
	background-position:top;
	overflow:visible; 
	text-align:center;
}
#about{
	background-color:white;
	height:500px;
	opacity:.9;
	border-radius:10px;
	margin-top: 23px;
	position:relative;
	box-shadow:3px 3px 10px #000;
	z-index:15;
	margin-right:20px;
	margin-left:20px;
	margin-bottom:20px;
	padding-right:10px;
	padding-left:10px;
	padding-top:1px;

}
#about h3{
	font-size:16px !important;
}
#content_5 h1{
	font-size:12px;
	color:black;
	text-align:center;
	padding-left:50px;
	padding-right:50px;
	line-height: 14px;
	padding-left:50px;
}
#content_5 h2{
	color:black;
	text-align:center;
	padding-top:10px;
	opacity:1 !important;
	font-weight:100;
}
#content_5 h3 a{
	color:#975e0c;
	font-weight:600;
}
#content_5 h3 a:hover{
	color:#464545;
}
#content_5 h3{
	color:black;
	margin-left:50x;
	font-size:16px;
	text-align:left;
	padding-left:10px;
	height:400px;
	font-weight:300;
}
#content_5 h3 a{
	font-family:arial;
	font-size:16px;
}
#image5{
	position:relative;
	text-align:center;
	padding-top:0px;
	opacity:.5;
	z-index:10;
	margin-right:1%;
	float:left;
}
#image5:hover{
	opacity:1;
}

#sponsors{
	position:relative;
	height:780px;
	text-align:center;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	background-color:black;
	padding-top:100px;
}
#sponsors  h1{
	text-align:center;
	color:#595756;
	font-size:30px;
}
#sponsors h2 a{
	color:#77b3e1;
}
#sponsors h2 a:hover{
	color:#464545;
	font-weight:400;
}
#bkg_sponsors{
	background-color:black;
	opacity:.95;
	margin-right:auto;
	margin-left:auto;
}
#sponsors_content{
	text-align:left;
	margin-left:30px;
	margin-right:30px;
	vertical-align:center;
	position:relative;
	margin-top:40px;
}
.image{
	display:inline-block;
	max-width:1000px;
	opacity:.9;
	margin:50px;
}
.image:hover{
	opacity:1;
}
#sponsors p{
	color:white;
}
#footer{
	position:relative;
	padding-top:100px;
	padding-bottom:100px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	opacity:1;
	padding-left:50px;
	padding-right:30px;
	min-width:900px;
}
#left_content{
	width:60%;
	display:inline-block;
	margin-left:5%
}
#footer #image{
	margin-left:35%;
}
#footer p{
	text-align:center;
	font-size:12px;
	color:black;
	width:100%;
}
#footer p a{
	font-size:12px;
	color:#a8a8a8;
	text-align:center;
}
#footer p a:hover{
	color:#464545;
}
#footer_image{
	display:inline;
	position:absolute;
	top:100px;
	right:10%
}
#footer ul{
	list-style:none;
}
#footer ul li{
	display:inline;
	list-style:none;
}
